*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
main{
    width: 100%;
}
.header-bg{
    background-color: #E554731A ;
    width: 100%;
    display:flex;
    align-items: center;
   
}
.header-text{
    width: 45%;
    margin-left: 100px;
}
.header-bg h1{
    font-size: 4rem;
    line-height: 1.3;
    /* width: 100%; */
    margin-bottom: 25px;
    
}
.header-bg p{
    font-size: 1rem;
    line-height: 1.3;
    /* max-width: 90%; */
    margin-bottom: 25px;
}
.header-text button{
    background-color: #E55473;
    color: #ffff;
    width: 120px;
    height: 45px;
    border-radius: 6px;
    border: none;
    padding: 10px 25px;
    margin-bottom: 25px;

}
.header-text button:hover{
    background-color: cyan;
    cursor: pointer;
    color: black;
}
.image{
    width:40%;
    margin-right: 100px;
    margin-top: 50px;  
}
.image .img{
    display: block;
    max-width:70%;
    margin-left: auto;
}
.featured{
    width: 80%;
    margin: 0 auto;
}
.featured .text{
    width: 50%;
    text-align: center;
    margin: 75px auto;
}
.images_gallery{
    display: flex;
    gap:20px;
    justify-content: center;
}
.bg{
    width: 320px;
    height:340px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
   
}

.one{
    background-color: #A7216226;
    background-image: url("./images/pngwing_6.png");
    background-size:200px 250px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.two{
    background-color: #0597A026;
    background-image: url("./images/pngwing_5.png");
    background-size:200px 240px;
    background-repeat:no-repeat;
    background-position: bottom;
}
.three{
    background-color: #477D1126;
    background-image: url("./images/pngwing_7.png");
    background-size:180px 270px;
    background-repeat:no-repeat;
    background-position: bottom;
}

.one img{
    display: inline-block;
    width:200px;
    height: 280px; 
    vertical-align: bottom;
    margin-bottom: 0px;
}
.link{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
}
.link p{
    margin-top: 20px;;
}
.icon-bg{
    display: flex;
    width: 75%;
    height: 300px;
    background-color: #2727270D;
    margin: 80px auto 80px;
    justify-content: center;
    align-items: center;
}
.icon-bg img{
    display: block;
    width: 100px;
}
.icon-one{
    width: 300px;
    margin: 0 auto;

}
.icon-one p{
    text-align: center;
}
.icon-bg .two{
    width: 200px;
    text-align: center;
}
.icon-bg .three{

    width: 200px;
    text-align: center;
}

.hot-deals-container{
    width: 100%;
    height: 450px;
    background-color: #E554730D;
    margin-top: 100px;
}
.hot-deals{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hot-deals .text{
    width:50%;

}
.flower{
    width:40%;
}
.flower img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.text h1{
    font-size: 2rem;
    margin-bottom: 15px;
}
.text p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text h1 span{
    color: #E55473;
}
.hot-deals-container button{
    background-color: #E55473;
    color: #ffff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin-bottom: 25px;
}
.social-media p{
    width: 60%;
    text-align: center;
     margin: 0 auto;

}
.social-media h1{
    width: 60%;
    text-align: center;
    margin: 0 auto 25px;
}
.social-media{
    width: 70%;
    margin: 80px auto 0; 
}
.gallery{
    display: flex;
    gap:15px;
    justify-content: center;
    width: 80%;
    max-width: 960px;
    margin: 80px auto 0;
}
.gallery img{
    display: block;
    width: 240px;
    height:270px ;
}
.subscribe-container{
    width: 80%;
    max-width: 980px;
    height: 360px;
    background-image: url("./images/rectangle_9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.subscribe-container h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.subscribe-container p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
   
}
input{
    width: 550px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color:#ffff;
    padding-left: 10px;
}
.subscribe-container button{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #E55473;
    margin-left: 15px;
}
.subscribe{
    text-align: center;
}
footer{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    background-color: #111010;
    margin-top: 60px;
}
.foot{
    width: 70%;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}
span{
    color: #E55473;
}
.foot h1{
    color: #ffff;
    margin: 25px auto;
    
}
.foot .para{
    width: 40%;
    color: #ffff;
    margin: 0 auto 20px;
}
.copy{
    color: aqua;
}